

<div class="navbar navbar-light bg-light">
  <div class="container">
    <img src="/assets/logoint.png" alt="logo" width="50">
    <a class="btn btn-primary">Login</a>
  </div>


</div>
<div class="container">
  <img class="mt-3"src="/assets/downl.png" alt="download" width=200>
  <p>This is your interner download speed </p>
</div>
